.*.swp
.swp
*.bak
*~
*.log
*.sql
!patch_*.sql
*.ini
vimsession
src
test.php
logs/cron/files/*
data/reports/cron/*
public/static/img/services/*
public/static/img/themes/white/services/*
public/static/img/themes/black/services/*
app/View/tpl/services/*
!data/db/mysql/rssprocer_service.sql
!data/db/mysql/rssprocer.sql
!README
!README.md
!.gitkeep
